*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #111111;
    line-height: 1.5;
}

img {
    max-width:100% ;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
   
}
.page-item.active .page-link {
    background-color: #198754;
    border-color: #198754 ;
}
.page-link {
    color: #198754;
}
.page-link:hover {
    color: #198754;
}

a {
    text-transform: none;
    color: aliceblue;
    font-size: 15px;
}
footer h4, footer a {
    color: aliceblue;
}

footer a:hover {
    text-decoration: underline;
    color: aliceblue;
}