.about-title {
    text-align: center;
    color: #FF0000;
    margin-top: 50px;
}
#about {
    margin-top: 40px;
    margin-bottom: 60px;
}

.about-para {
    padding-left: 20px;
}
#about ul {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}
.about-para-li {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}
#end {
    margin-bottom: 100px;
}
.author {
    font-weight: bold;
}