/* #modal-login {
    text-align: center;
    display: none;
    margin: auto;
   
    position: re;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    top: 0;
    left:0;
    z-index: 1;
}
.login-close {
    display: flex;
    justify-content: end;
}
.login-close button {
    background-color: #fff;
    border: none;
}
.modal-content {
    margin: auto;
    width: 25%;
    padding: 15px 20px 30px 20px;
    border: 1px solid #6b6b6b;
    border-radius: 6px;
}
.login {
    padding-bottom: 20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    
}
.login-form input {
    height: 30px;
    margin-bottom: 15px;
}
::placeholder{
    padding-left: 15px;
    
}
.login-form button {
    width: 50%;
    margin: auto;
    height: 30px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
.login-footer {
    text-align: left;
    padding-top: 30px;
}
.login-footer button {
    color: red;
    background-color: #fff;
    border: none;
    cursor: pointer;
} */